<ol class="breadcrumb text-left" style="margin-top: 20px ">
  <li class="breadcrumb-item active"><%= link_to "Latest Updates", welcome_path %></a></li>
  <li class="breadcrumb-item in-active"><%= "#{@user.firstname}'s Page" %></li>
</ol>

<div class="container">
  <div class="row add-right-margin trips-container">
    <div class="col-xs-6 your-trips-container">
      <div class="show-trips text-left">
       <h2>Your Trips</h2><br>
        <% @user.itineraries.each do |i| %>
          <div class="row trip-row">
            <div class="travel-img">
              <%= image_tag("travel-placeholder.png") %>
            </div>
            <div class="col-xs-10">
              <h4><%= link_to "#{i.trip_title}", user_itinerary_path(@user, i) %></h4>
              <p><%= "#{show_date(i.datestart)} - #{show_date(i.dateend)}" %> </p>
            </div>
            <% if current_user.itineraries.include?(i) %>
              <div class="col-xs-2 delete-trip text-right">
                <%= link_to '<i class="fas fa-times"></i>'.html_safe, user_itinerary_path(@user, i), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
              </div>
            <% else %>
              <br>
            <% end %>
            <br>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-4 upcoming-trips-container">
      <div class="show-trips">
        <h2>Upcoming Trips</h2><br>
        <div class="upcoming-trips">
          <% if @upcoming_trips %>
              <% @upcoming_trips.each do |trip| %>
                <%= link_to "#{show_date(trip.datestart)} - #{trip.trip_title}", user_itinerary_path(current_user, trip) %><br>
              <% end %>
          <% else %>
            <p>You haven't made any plans yet!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

