<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    <!-- Fonts -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,600,700|Merriweather');
    </style>
  </head>

  <body class="intro-body">  
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 corner-logo">
          </div>
          <% if user_signed_in? %>
            <div class="col-xs-6 signin text-right navbar-nav">
              <%=link_to current_user.firstname, user_path(current_user) %>&nbsp; &nbsp;<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </div>
          <% else %>
            <div class="col-xs-6 signin text-right navbar-nav">
              <%=link_to "Sign In", login_path %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <div class="row intro-info">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="homepage">Wanderlust</h1>
        <br />
        <p>The world awaits. Start planning your trip today.</p>
        <br />
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="row intro-btn">
              <% if user_signed_in? %>
                <div class="col-xs-12 text-center intro-btn">
                  <%= link_to "Get Started", user_path(current_user), :class => "btn btn-lg"%>
                </div>
              <% else %>
                <div class="col-xs-6">
                  <%= link_to "Sign Up", register_path, :class => "btn btn-lg"%>
                </div>
              <% end %>
            </div>  
          </div>
        </div> 
      </div>
    </div>
  </body>
</html>