<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
    <!-- Fonts -->
    <style>
    @import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,600,700|Merriweather');
    </style>
  </head>

  <body="page-top">
    <div id="notice">
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>  
    </div>
    
    <!-- Intro Header -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 corner-logo">
            <a href="#"></a>
          </div>
          <% if user_signed_in? %>
            <div class="col-xs-6 signin text-right navbar-nav">
              <%=link_to current_user.firstname, user_path(current_user) %>&nbsp; &nbsp;<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </div>
          <% else %>
            <div class="col-xs-6 signin text-right navbar-nav">
              <%= link_to "Sign Up", register_path %>&nbsp; &nbsp;<%=link_to "Sign In", login_path %>
            </div>
          <% end %>
        </div>
        
        <div class="row header-info">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <h1 class="homepage">Wanderlust</h1>
            <br />
            <p>Let's make it happen.</p>
            <br />
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="row header-btn">
                  <% if user_signed_in? %>
                    <div class="col-xs-12 text-center header-btn">
                      <%= link_to "Get Started", user_path(current_user), :class => "btn btn-lg"%>
                    </div>
                  <% else %>
                    <div class="col-xs-6">
                      <%= link_to "Get Started", register_path, :class => "btn btn-lg"%>
                    </div>
                  <% end %>
                </div><!--End Button Row-->  
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </header>
  </body>
</html>