<!DOCTYPE html>
<html>
  <head>
    <title>Wanderlust</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|
    Montserrat:400,600,700|Merriweather|Montserrat|Open+Sans|Roboto' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>

  <body="page-top">
    <div class="container" style="padding-top:20px">
      <div class="row">
        <div class="col-xs-6 corner-logo-2">
          <% if user_signed_in? %>
            <a href="/welcome">WANDERLUST</a>
          <% else %>
            <a href="/">WANDERLUST</a>
          <% end %> 
        </div>
        <div class="col-xs-6 signin text-right navbar-nav-2">
          <% if user_signed_in? %>
            <div class="signedin-nav">
              <%=link_to '<i class="fas fa-plus" style="margin-right: 5px;"></i> Add Trip'.html_safe, new_user_itinerary_path(current_user) %>&nbsp; &nbsp;&nbsp; &nbsp;
              <%=link_to current_user.firstname, user_path(current_user) %>&nbsp; &nbsp;&nbsp; &nbsp;
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </div>
          <% else %>
             <!--<%= link_to "Sign Up", register_path %>&nbsp; &nbsp;<%=link_to "Sign In", login_path %>-->
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>